<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>any minor world that breaks apart falls together again</title>
    </head>
    <body>
        <h1>{{ pageTitle }}</h1>
        <p>{{ page.date | date: "%Y %B %d - %H:%M" }}</p></br>
        {{ content }}
    </body>
</html>